node_modules/
.env
.secret
coverage
coverage.json
typechain
typechain-types
.notas
.DS_Store
.vscode/

# Compiled files
deploy*.json

#Hardhat files
cache/
artifacts/

#Network files
.openzeppelin/unknown*.json

